.timeline-page-container {
  background-color: #000000;
  width: 100%;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 88dvh;
  flex-grow: 1;
  justify-content: space-between;
}

.timeline-page-content {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.timeline-page-content p {
  font-family: inter;
  font-size: 1.75vw;
  font-weight: 700;
  width: 55%;
  margin: 0;
}

.timeline-page-title {
  top: 10%;
}

.timeline-page-title h1 {
  font-size: 3vw;
  margin-bottom: 1vw;
}

.timeline-page-footer {
  width: 100%;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .timeline-page-container {
    min-height: 92dvh;
  }
  .timeline-page-content p {
    font-size: 4vw;
    width: 70%;
  }
  .timeline-page-title h1 {
    font-size: 8vw;
    margin-bottom: 4vw;
  }
}
