.navbar-container nav {
  background-color: #4b0c0f;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: League Spartan;
  font-weight: bold;
  z-index: 1;
}

.navbar-container h1 {
  text-align: left;
  font-size: 2.25vw;
}

.navbar-container a {
  color: white;
  text-decoration: none;
}

.navbar-container a:hover {
  color: grey;
  text-decoration: none;
}

.navbar-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  font-size: 1.75vw;
  gap: 2vw;
}

.navbar-menu {
  display: none;
  position: absolute;
  top: 2vh;
  right: 2vh;
  flex-direction: column;
  justify-content: space-between;
  width: 4vh;
  height: 3.5vh;
}

.navbar-menu span {
  height: 0.6vh;
  width: 100%;
  background-color: white;
  border-radius: 0.4vh;
}

.navbar-menu:hover span {
  background-color: grey;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .navbar-container nav {
    flex-direction: column;
    justify-content: center;
    height: 8vh;
  }
  .navbar-container h1 {
    text-align: center;
    font-size: 4vh;
  }
  .navbar-container ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0.25rem;
  }
  .navbar-container ul.open {
    border-top: 0.2vh solid black;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 8vh;
    background-color: #4b0c0f;
    z-index: 1;
    margin: 0;
    font-size: 3vh;
  }
  .navbar-container ul li {
    width: 100%;
    text-align: center;
    padding: 0.25vh 0;
  }
  .navbar-menu {
    display: flex;
  }
}
