.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  margin: 2vw 0;
}

.timeline-container::after {
  background-color: #950000;
  content: "";
  position: absolute;
  left: calc(50% - 0.3vw);
  width: 0.6vw;
  height: 100%;
}

.timeline-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -1.2vw;             
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2.5vw solid #8d8c8a;
	border-left: 0.625vw solid transparent;
	border-right: 0.625vw solid transparent;
	height: 0;
	width: 0.75vw;
}

.timeline-nozzle {
  position: absolute;
  top: -1.2vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.timeline-nozzle::after {
  content: "";
  position: absolute;
  left: -1.125vw;
  top: 2.2vw;

  width: 2.25vw;
  height: 0.5vw;
  background: #7a7977;
}



@media only screen and (max-aspect-ratio: 1/1) {
  .timeline-container {
    width: 65%;
    margin: 8vw;
  }
  .timeline-container::after {
    left: calc(50% - 0.5vw);
    width: 1vw;
  }
  .timeline-container::before {
    transform: translateX(-50%);
    border-bottom: 4vw solid #8d8c8a;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    width: 1.2vw;
  }
  .timeline-nozzle::after {
    left: -1.8vw;
    top: 3.2vw;

    width: 3.6vw;
    height: 0.8vw;
  }

}
