.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  margin: 2vw 0;
}

.timeline-container::after {
  background-color: #950000;
  content: "";
  position: absolute;
  left: calc(50% - 0.2vw);
  width: 0.4vw;
  height: 100%;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .timeline-container {
    width: 65%;
    margin: 8vw;
  }
  .timeline-container::after{
    left: calc(50% - 0.5vw);
    width: 1vw;
  }
}