.timeline-item {
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 3vw;
  position: relative;
  margin: 1vw 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3vw;
  padding-right: 0;
}

.timeline-item:nth-child(15n) {
  background-color: #FF0000;
}

.timeline-item:nth-child(15n + 1) {
  background-color: #FFF200;
}

.timeline-item:nth-child(15n + 2) {
  background-color: #FFE000;
}

.timeline-item:nth-child(15n + 3) {
  background-color: #FFCE00;
}

.timeline-item:nth-child(15n + 4) {
  background-color: #FFBC00;
}

.timeline-item:nth-child(15n + 5) {
  background-color: #FFAA00;
}

.timeline-item:nth-child(15n + 6) {
  background-color: #FF9800;
}

.timeline-item:nth-child(15n + 7) {
  background-color: #FF8600;
}

.timeline-item:nth-child(15n + 8) {
  background-color: #FF7400;
}

.timeline-item:nth-child(15n + 9) {
  background-color: #FF6200;
}

.timeline-item:nth-child(15n + 10) {
  background-color: #FF5000;
}

.timeline-item:nth-child(15n + 11) {
  background-color: #FF3E00;
}

.timeline-item:nth-child(15n + 12) {
  background-color: #FF2C00;
}

.timeline-item:nth-child(15n + 13) {
  background-color: #FF1A00;
}

.timeline-item:nth-child(15n + 14) {
  background-color: #FF0800;
}

.timeline-item-content time {
  font-size: 1vw;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 2vw;
  margin: 0.5vw 0;
  max-width: 40vw;
}

.timeline-item-content .circle {
  border: 0.75vw solid #950000;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 0.75vw);
  right: -0.75vw;
  width: 0.75vw;
  height: 0.75vw;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -0.75vw;
}

@media only screen and (max-aspect-ratio: 1/1) {
  .timeline-item {
    padding-right: 3vw;
  }
  .timeline-item:nth-child(odd) {
    padding-left: 3vw;
  }
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 6vw 2vw;
  }
  .timeline-item-content time {
    font-size: 4vw;
    line-height: 4vw;
  }
  .timeline-item-content p {
    font-size: 3vw;
    line-height: 4vw;
  }
  .timeline-item-content a {
    text-decoration: underline;
  }
  .timeline-item-content a::after {
    display: none;
  }
  .timeline-item-content .circle {
    border: 1.5vw solid #950000;
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 1.5vw);
    right: -1.5vw;
    width: 1.5vw;
    height: 1.5vw;
  }
  .timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -1.5vw;
  }
}
