.timeline-item {
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 2vw;
  position: relative;
  margin: 1vw 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 2vw;
  padding-right: 0;
}

.timeline-item:nth-child(5n) {
  background-color: #dec803;
}

.timeline-item:nth-child(5n + 1) {
  background-color: #ff0000;
}

.timeline-item:nth-child(5n + 2) {
  background-color: #ff5a00;
}

.timeline-item:nth-child(5n + 3) {
  background-color: #ff9a00;
}

.timeline-item:nth-child(5n + 4) {
  background-color: #cfa605;
}

.timeline-item-content time {
  font-size: 1vw;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 2vw;
  margin: 0.5vw 0;
  max-width: 40vw;
}

.timeline-item-content .circle {
  border: 0.75vw solid #950000;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 0.75vw);
  right: -0.75vw;
  width: 0.75vw;
  height: 0.75vw;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -0.75vw;
}
